<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="layout :: site-head">
    <meta charset="UTF-8"/>
    <title>Spring MVC Blog</title>
</head>

<body>
<header th:replace="layout :: site-header"></header>
<main class="container">

    <div class="row">
        <div class="col-lg-1"><b>ID</b></div>
        <div class="col-lg-2"><b>Title</b></div>
        <div class="col-lg-5"><b>Content</b></div>
        <div class="col-lg-2"><b>Date</b></div>
        <div class="col-lg-1"><b>Author ID</b></div>
        <div class="col-lg-1"><b>Action</b></div>
    </div>

    <th:block th:each="post : ${posts}">
        <div class="row marginBottom">
            <div class="col-lg-1" th:text="${post.id}">...</div>
            <div class="col-lg-2" th:text="${post.title}">...</div>
            <div class="col-lg-5 " th:text="${post.body}">...</div>
            <div class="col-lg-2" th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">...</div>
            <div class="col-lg-1" th:text="${post.author?.id}">...</div>
                    <!-- djghjcc fdnjhjv -->
            <div class="col-lg-1">
                <p><a href="register.html" th:href="@{posts/edit/{id}/(id=${post.id})}">Edit</a></p>
                <a href="delete.html" th:href="@{posts/delete/{id}/(id=${post.id})}">Delete</a>
            </div>

        </div>

    </th:block>


</main>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>