<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title> Create New Post</title>
</head>

<body>

<script>
    tinymce.init({
        selector: '#body',
        toolbar: 'undo redo | styleselect | bold italic | link image | emoticons media',
        plugins: "image link autolink emoticons media",
        images_upload_url: '/fileupload',
        images_upload_base_path: window.location.origin + '/img/uploaded',
        convert_urls : false
    });
</script>

<header th:replace="layout :: site-header"></header>

<main class="container">
    <form class="col-lg-8" method="post" th:object="${createPostForm}">

        <div class="form-group"><label for="title">Title:</label>
            <input  class="form-control" type="text" id="title" name="title" th:value="*{title}"/>
            <span class="formError" th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">Invalid username</span>
        </div>

        <div class="form-group"><label for="body">Content:</label>
            <textarea class="form-control" rows="10" id="body" type="text" name="body" th:value="*{body}"/>
            <span class="formError" th:if="${#fields.hasErrors('body')}"
                  th:errors="*{body}">Invalid body</span>
        </div>


        <div><input class="button btn-success btn-sm" type="submit" value="Create"/></div>
    </form>
</main>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>